name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # note: keep in sync with if-statement on coveralls below
        node-version: [18.x, 20.x, 22.x]
    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
      - name: Install dependencies
        run: |
          npm ci
      - name: Build
        run: |
          npm run build
          npm pack
          npm run self-test
      - name: Jest
        run: npm --ignore-scripts test
        env:
          CI: true
      - name: Coveralls
        uses: coverallsapp/github-action@master
        if: matrix.node-version == '22.x'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
