name: Lint

on: [push, pull_request]

permissions:
  contents: read

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Use Node.js
        uses: actions/setup-node@v6
      - name: Install dependencies
        run: npm ci
      - name: Prettier
        run: npm run prettier:check
      - name: ESLint
        if: success() || failure()
        run: npm run eslint -- --max-warnings 0
  npm-pkg-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup Node.js
        uses: actions/setup-node@v6
      - name: Install dependencies
        run: npm ci
      - name: npm-pkg-lint
        uses: ./
